@charset "UTF-8";

@media screen and (min-width:700px) and (max-width:992px) {

    body {
        background-image: linear-gradient(to top,#03A6A6,#012840);
    }

    #login {
        width: 100vw;    
    }

    #imagem {
        float: left;
        width:40%;
        height: 100vh;
    }

    #formulario {
        float: right;
        width: 60%;

    }
}

@media screen and (min-width:992px) {

    body{
        background-image: linear-gradient(to top,#03A6A6,#012840);
    }

    #login {
        width: 940px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario {
        float: left;
        width: 50%;
    }

    #formulario p {
        font-size: 1.2em;
    }
    #formulario h1 {
        font-size: 2em;
    }
}
