@charset "UTF-8";

/* Paleta de cores:
    #012840
    #025E73
    #0396A6
    #04D9D9
    #03A6A6
*/

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top,#03A6A6,#012840);
    width: 100vw;
    height:100vh ;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: #fff;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000094;
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;

}

#imagem {
    display: block;
    background: #012840 url(../image/hands-img.jpg) no-repeat;
    background-position: left bottom; 
    background-size: cover;
    height:257px; 
    
}

#formulario {
    display: block;
    padding: 10px;
}

#formulario h1 {
    text-align: center;
    margin-bottom: 10px;

}

#formulario p {
    font-size: 0.8em;
    text-align:center;
}


.campo {
    background-color: #03A6A6;
    border: 2px solid #03A6A6;
    display: block;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    border-radius: 8px;

}

.campo i {
    color: #fff;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo input {
    background-color: #03A6A6;
    font-size: 1em;
    width: calc(100%-44px);
    height: 100%;
    transform: translateY(-14px);
    border: 0px;
    border-radius: 8px;
    padding: 2px;
}

.campo input:focus-within {
    background-color: #fff;
}

label {
    display: none;
    text-align: center;
    font-size: 0.9em;
}

input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #03A6A6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #258888;
}

a.buton {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 35px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: #fff;
    color: #258888;
    border: 1px solid #03A6A6;
    border-radius: 5px;
    text-decoration: none;

}

a.buton > i {
    font-size: 0.8em;
}

